.footer-menu {
	background-color: $green;
	padding: 35px 0 30px;
	font-size: 16px;
	line-height: 1.875;
	.content-wrap {
		&>div {
			vertical-align: top;
			display: inline-block;
			margin-right: -.3em;
			padding-right: 15px;
			width: 100%;
			text-align: center;
			@include media('>=phone'){
				width: 50%;
				text-align: left;
			}
			@include media('>=tablet') {
				width: 25%;
			}
		}
	}
	em {
		font-size: 20px;
		margin-bottom: 27px;
		display: inline-block;
	}
	ul {
		margin: 0;
	}
	address {
		font-style: normal;
		p {
			margin-bottom: 0;
		}
	}
	a {
		text-decoration: none;
		&:hover {
			color: $light;
		}
	}
	li.active a {
		color: $light;
	}
}