#footer {
	background-color: $footer-bg;
	padding: 19px 0 15px;
	font-size: 14px;
	font-weight: bold;
	.content-wrap {
		text-align: center;
		@include media(">=tablet") {
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: left;
		}
	}
	.footer-content {
		@include media(">=tablet") {
			display: flex;
			align-items: center;
		}
		a {
			margin-right: 18px;
			display: block;
			margin: 0 auto;
			@include media(">=tablet") {
				display: inline-block;
				margin-right: 18px;
			}
		}
	}
	.social {
		margin-top: 20px;
		white-space: nowrap;
		@include media(">=tablet") {
			margin-top: 0;
		}
		li {
			margin-right: 18px;
			margin-bottom: 0;
			&:last-child {
				margin-right: 0;
			}
			[class^="icon-"],
			[class*=" icon-"] {
				background-color: $dark;
				border: 2px solid $dark;
				&:before {
					vertical-align: middle;
					color: $green;
					font-size: 20px;
				}
				&:after {
					background: $dark;
				}
				&:hover {
				background-color: transparent;
					&:before {
						color: $dark;
					}
				}
			}
		}
	}
}