.services {
	font-size: 16px;
  	font-weight: 300;
  	color: $light;
  	text-align: center;
  	background-color: $dark;
  	padding: 93px 0 48px;
  	line-height: 1.625;
  	.content-wrap {
  		display: flex;
  		justify-content: center;
  		flex-wrap: wrap;
  		align-items: stretch;
  		> div {
  			padding: 10px 23px;
  			width: 100%;
  			margin-bottom: 50px;
  			display: flex;
  			flex-direction: column;
  			align-items: center;
			@include media('>=phone'){
				width: 50%;
			}
			@include media('>=tablet') {
				margin-bottom: 0;
				width: 25%;
			}
  		}
  	}
  	.icon-wrap {
  		height: 140px;
  		@include media('>=tablet') {
  			height: 179px;
  		}
  	}
	em {
		display: block;
		color: $green;
		font-size: 24px;
		margin-bottom: 23px;
		flex: 1 1 auto;
	}
	.line {
		height: 3px;
		background-color: $green;
		width: 156px;
		margin: 0 auto 26px;
	}
	p {
		letter-spacing: 0;
		margin-bottom: 26px;
		width: 100%;
	}
	.btn {
		font-size: 14px;
		letter-spacing: 0;
		padding: 11px 18px;
		line-height: 1;
		height: auto;
	}
}