#footer {
	padding: 39px 0 86px;
	font-size: 16px;
	font-weight: normal;
	text-align: center;

	@include media('>=tablet') {
		padding-bottom: 42px;
	}
	@include media('>=desktop') {
		padding: 50px 0 115px;
	}
	.row {
		@include media('>=desktop') {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	.social-networks {
		margin-bottom: 25px;
		font-size: 45px;

		@include media('>=desktop') {
			width: 100%;
			margin-bottom: 0;
		}
		> li {
			margin: 0 1px;

			@include media('>=desktop') {
				margin: 0;
			}
		}
	}
}

.footer-menu {
	display: none;

	@include media('>=desktop') {
		display: block;
		margin-bottom: 36px;
		font-size: .72rem;
	}
	> li {
		padding: 6px 20px 0 20px;
		border-right: 3px solid #e2e2e2;
		&:last-child {
			padding-right: 20px;
		}
	}
	a:before {
		display: none;
	}
}

.copyright {
	// font-weight: normal;
	display: block;
	margin: 0 auto 22px;

	@include media('>=desktop') {
		order: -1;
		width: 100%;
		margin-bottom: 0;
		text-align: left;
	}
	a {
		color: inherit;
		&:after {
			content: '\A';
			white-space: pre;

			@include media('>=desktop') {
				display: none;
			}
		}
	}
}

.dev-link {
	letter-spacing: -.015em;

	@include media('>=desktop') {
		width: 100%;
		text-align: right;
	}
	a {
		color: inherit;
		&:hover {
			color: $col-brand1;
		}
	}
	img {
		margin-left: 2px;
	}
}
