// forms

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid $green;
  background-color: transparent;
  color: $green;
  outline: none;
  display: inline-block;
  margin-right: -.3em;
  font-size: 20px;
  line-height: 1.5;
  text-overflow: ellipsis;
  padding: 19px 0;
  transition: color $as, border-color $as;
  @include media('>=tablet') {
    font-size: 24px;
  }
  &:invalid {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid $errore;
    color: $errore;
  }
  &:focus {
     border-color: $dark;
     color: $dark;
     @include placeholder {
      color: $dark;
    }
  }
  @include placeholder {
    color: $green;
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: none;
  vertical-align: top;
  width: 100%;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  border: none;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}