// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$dark: #434c6d;
$light: #fff;
$green: #50e3c2;
$footer-bg: #4fd3b9;
$yellow: #f8e81c;
$errore: #e35050;

$wmenu: 380px;
$padCont: 10px;
$wCont: 1180px + 2*$padCont;


$base-font: 'Roboto', 'Arial', sans-serif;
$cursive: 'Knewave', cursive;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $dark;
$base-background-color: $light;
$font-size-base: 14px;
$line-height-base: 2;
$base-font-family: $base-font;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $green;

// Buttons 
$btn-color: $light;
$btn-background: $dark;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

$br-rad: 5px;
$btn-shed: 0 4px 8px rgba(0, 0, 0, 0.5);
$btn-shed-hover: inset 0 1px 3px rgba(0, 0, 0, 0.5);


$as: 0.3s;
